<div class="container">
  <form [formGroup]="forgotForm" (ngSubmit)="submit()">

    <h1>Reset Password</h1>

    <!-- USERNAME -->
    <input
      type="text"
      formControlName="username"
      placeholder="Username"
    />
    <div class="error"
      *ngIf="
        forgotForm.get('username')?.touched &&
        forgotForm.get('username')?.hasError('required')
      ">
      Username is required
    </div>
    <div class="error"
      *ngIf="
        forgotForm.get('username')?.touched &&
        forgotForm.get('username')?.hasError('pattern')
      ">
      Only letters, numbers and underscore allowed
    </div>

    <!-- NEW PASSWORD -->
    <input
      type="password"
      formControlName="password"
      placeholder="New Password"
    />
    <div class="error"
      *ngIf="
        forgotForm.get('password')?.touched &&
        forgotForm.get('password')?.hasError('minlength')
      ">
      Minimum 8 characters required
    </div>

    <!-- CONFIRM PASSWORD -->
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <div class="error"
      *ngIf="forgotForm.get('confirmPassword')?.hasError('mismatch')">
      Passwords do not match
    </div>

    <button
      type="submit"
      [disabled]="forgotForm.invalid || isSubmitting">
      Update Password
    </button>

  </form>
</div>
