<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">

    <h1>Login</h1>

    <!-- USERNAME -->
    <input
      type="text"
      formControlName="username"
      placeholder="Username"
    />
    <div class="error"
      *ngIf="loginForm.get('username')?.touched &&
             loginForm.get('username')?.hasError('required')">
      Username is required
    </div>
    <div class="error"
      *ngIf="loginForm.get('username')?.touched &&
             loginForm.get('username')?.hasError('minlength')">
      Username must be at least 4 characters
    </div>
    <div class="error"
      *ngIf="loginForm.get('username')?.touched &&
             loginForm.get('username')?.hasError('pattern')">
      Only letters, numbers, and underscore (_) are allowed
    </div>

    <!-- PASSWORD -->
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <div class="error"
      *ngIf="loginForm.get('password')?.touched &&
             loginForm.get('password')?.hasError('required')">
      Password is required
    </div>
    <div class="error"
      *ngIf="loginForm.get('password')?.touched &&
             loginForm.get('password')?.hasError('minlength')">
      Password must be at least 8 characters
    </div>

    

    <!-- SUBMIT -->
    <button type="submit" [disabled]="loginForm.invalid">
      Login
    </button>

    <!-- FOOTER -->
    <p>
      Don't have an account?
      <a (click)="goToRegister()">Register</a>
    </p>
    <!-- FORGOT PASSWORD -->
    <a class="forgot-link" (click)="goToForgotPassword()">
      Forgot your password?
    </a>

  </form>
</div>
